reflex
bcrypt==3.2.0
cryptography==43.0.1
fastapi-cli==0.0.5
Flask==3.0.3
future==0.18.2
httptools==0.6.1
macholib==1.15.2
mysql-connector-python==9.0.0
openai==1.35.14
passlib==1.7.4
PyJWT==2.9.0
python-dotenv==1.0.1
python-jose==3.3.0
pytz==2024.2
PyYAML==6.0.2
uvloop==0.20.0
watchdog==4.0.1
watchfiles==0.22.0
pandas
